html,
body,
#app {
	height: 100%;
}

#app {
	min-width: 320px;
	max-width: 750px;
	margin: 0 auto;
	box-shadow: 0px 0px 20px #e5e8eb;
}

body {
	padding-bottom: constant(safe-area-inset-bottom);
	padding-left: 0px !important;
	padding-right: 0px !important;
	overscroll-behavior: none;
}

.n-layout-toggle-button {
	width: 32px !important;
	height: 32px !important;
	opacity: 0;
}

.wrap-main {
	padding: 0 15px;
	padding-top: 10px;
	padding-bottom: 20px;
	max-width: 750px;
	margin: 0 auto;
	background-color: var(--moss-bg-content-color);
}

.btns {
	border-radius: 8px;
	padding: 6px 10px;

	&.normal {
		color: #6B83FF;
		background: var(--moss-header-color);
		border: 1px solid #6B83FF;
	}

	&.danger {
		background: var(--moss-header-color);
		border: 1px solid #FF6772;
		color: #FF6671;
	}
}

.main-bg {
	padding: 0 15px;
	padding-top: 20px;
	padding-bottom: 60px;
	min-height: 100%;
	background-color: var(--moss-bg-content-color);
	color: var(--moss-text);
}

.box {
	background-color: var(--moss-header-color);
	border-radius: 5px;
	padding: 17px 15px;

	.btn {
		color: var(--moss-text-blue-color);
	}
}

@media screen and(max-width: 400px) {
	.none {
		display: none !important;
	}

	.item-min-width {
		width: 60px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.item-desc-min-width {
			width: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
	}
}
